#mainTitle {
    margin-top: -1%;
    color: #df3c32;
    font-size: 70px;
    font-weight: 400;
}

#subTitle {
    margin: -60px 0 50px 0;
    color: #333333;
    font-size: 25px;
    font-weight: 300;
}

#tomato {
    margin-left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #df3c32;
}

#clockCircle {
    height: 290px;
    width: 290px;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 50%;
}

.clock {
    position: relative;
    background-color: white;
}

.clockTop {
    width: 4px;
    height: 10px;
    left: calc(50% - 2px);
}

.clockRight {
    width: 10px;
    height: 4px;
    top: calc(50% - 6px);
}

.clockBottom {
    width: 4px;
    height: 10px;
    top: calc(90% + 5px);
    left: calc(50% - 2px);
}

.clockLeft {
    width: 10px;
    height: 4px;
    top: calc(46% - 10px);
    left: calc(100% - 10px);
}

#time {
    margin-top: 60px;
    color: white;
    font-size: 80px;
    font-weight: 100;
}

#startButton {
    width: 300px;
    height: 60px;
    margin-top: 3%;
    border: 0px solid transparent;
    background-color: #f64736;
    color: white;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
}

#startButton:hover {
    background-color: #df3c32;
}

.rename1 {
    margin-top: 10%;
}

.sectionTitle {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
}
.sectionSubTitle {
    margin: -10px 0 30px 0;
    font-size: 15px;
    font-weight: 300;
}

.myTomato {
    height: 100px;
    padding: 10px;
    border: 5px solid #331a00;
    background: white;
}

.dailyTomato {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 1px solid red;
    border-color: #df3c32;
    border-radius: 50%;
}
.jumbotron {
    background-color: #eeeeee;
}

.jumbotron > * {
    color: #df3c32;
}
/* df3c32 */
.margin {
    margin-top: 50px;
}

.exTitle {
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 300;
}

.pomodoro {
    color: #df3c32;
    font-size: 45px;
    font-weight: 500;
    word-spacing: 15px;
    letter-spacing: 4px;
}

.store {
    max-height: 500px;
    overflow-x: scroll;
    padding: 0;
    border: 2px solid #5DBA9D;
    background-color:#FFFFFF;
    box-sizing: border-box;
}

.store-reverse {
    border: 2px solid #e45;
}

.header-reverse {
    background-color:#e45;
}

header {
    text-align: left;
    padding: 10px;
    margin-bottom:10px;
    background-color:#5DBA9D;
}

header > * {
    display: inline-block;
}

header a {
    position: absolute;
    font-size:20px;
    color:#FFFFFF;
    width:40px;
    height:40px;
    line-height:40px;
    margin: 6px 20px 0 0 ;
    right: 0;
}

.storeTitle {
    margin: 6px 0 0 20px;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

header a.hide-list{
    background-color:#11956c;
}

.header-reverse a.hide-list {
    background-color: #cd1830;
}

.tomatoStore:after{
    content:"";
    clear:both;
    display:table;
}



.store .box{
    float: left;
    width: 100px;
    height: 100px;
    margin: 2%;
    padding: 0;
    border-radius: 5%;
    background-color:#CCCCCC;
}

.box > img {
    transition: transform 0.5s;
    width: 100px;
    height: 100px;
}

.box > img:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}
.store.list-mode .tomatoStore{
    padding-right: 10px;
}






/*   background: rgb(250,249,247); */





.cont_princ_lists {
    position: relative;
    float: left;
    width: 100%;
    margin-top: calc(-2% + 1px);
}

.cont_princ_lists > ul > li  {
    position: relative;
    float: left;
    width: 108%;
    height: 75px;
    margin-left: -8%;
    border-bottom: 1px solid #ccc;
    background-color: #F1F1EF;
    list-style: none;
    z-index: 2;
    box-sizing: border-box;
}

.col_md_1_list {
    position: relative;
    float: left;
    height: 20px;
    top:50%;
    margin-top: -10px;
}
.col_md_1_list > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.col_md_2_list {
    position: relative;
    float: left;
    margin-top: 20px;
}
.col_md_2_list  > h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.col_md_2_list  > p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #999;
}

.col_md_3_list {
    position: relative;
    float: left;
    height: 14px;
    top:50%;
    margin-top: -10px;
    padding: 0 10px 0 0 ;
}

.col_md_3_list > .cont_text_date {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.col_md_3_list > .cont_text_date > p {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
}
.cont_text_date > div > img {
    width: 20px;
    height: 20px;
}
.col_md_3_list:hover > .cont_btns_options{
    opacity: 1;

}

.col_md_3_list > .cont_btns_options{
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #F1F1EF;
    width: 100%;
    height: 47px;
    top: 0px;
}

.col_md_3_list > .cont_btns_options > ul > li{
    position: relative;
    float: right;
    width: 100%;
    list-style-type: none;
}

.col_md_3_list > .cont_btns_options > ul > li > a {
    display: block;
    width: 20px;
    height: 15px;
    background-color: #4C75A1;
    padding: 5px 3px;
    border-radius: 50%;
    color: #fff;
    margin-top: -5px;
}

.col_md_3_list > .cont_btns_options > ul > li > a > i {
    font-size: 15px;
}

.lisk_shopping {
    margin-left: 150px;
}
.list_shopping > .col_md_1_list {
    border-left: 4px solid #e45;
    color: #e45;
}


.rename2 {
    margin-top: 10%;
    background-color: #eeeeee;
}

.explanationIcon {
    color: red;
    font-size: 150px;
}
