/* main page */
#mainTitle {
    margin-top: -1%;
    color: #df3c32;
    font-size: 70px;
    font-weight: 400;
}

#subTitle {
    margin: -60px 0 30px 0;
    color: #333333;
    font-size: 25px;
    font-weight: 300;
}

#myNavbar > ul > li > a:hover {
    color: #df3c32;
}

#tomato {
    margin-left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #df3c32;
}

#clockCircle {
    height: 290px;
    width: 290px;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 50%;
}
/* clock design */
.clock {
    position: relative;
    background-color: white;
}

.clockTop {
    width: 4px;
    height: 10px;
    left: calc(50% - 2px);
}

.clockRight {
    width: 10px;
    height: 4px;
    top: calc(50% - 6px);
}

.clockBottom {
    width: 4px;
    height: 10px;
    top: calc(90% + 5px);
    left: calc(50% - 2px);
}

.clockLeft {
    width: 10px;
    height: 4px;
    top: calc(46% - 10px);
    left: calc(100% - 10px);
}

#time {
    margin-top: 60px;
    color: white;
    font-size: 80px;
    font-weight: 100;
}

#startButton {
    width: 300px;
    height: 60px;
    margin-top: 1%;
    border: 0px solid transparent;
    background-color: #f64736;
    color: white;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
}

#startButton:hover {
    background-color: #df3c32;
}


.progress {
    height: 30px;
    margin-top: 4%;
    padding: 4px 4px 18px 4px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 22px;
    border-radius: 4px;
    background-color: #86e01e;
    transition: 1s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#copyright {
    padding: 1% 8% 6% 8%;
    background-color: #3e4b5e;
    color: rgba(222, 222, 222, 0.9);
    font-size: 40px;
}

#copyrightTitle {
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 4px;
}
/* page sub class */
.jumbotron {
    margin-top: 50px;
    background-color: #eeeeee;
}

.jumbotron > * {
    color: #df3c32;
}

.containerSection {
    margin-top: 10%;
}

.container-gray {
    background-color: #eeeeee;
}

.sectionTitle {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
}

.exTitle {
    margin: 100px 0 100px 20px;
    font-size: 40px;
    font-weight: 300;
}

.exTitle > img {
    width: 35px;
    height: 35px;
    margin: 0px 20px 10px 30px;
}

#pomodoro {
    color: #df3c32;
    font-size: 45px;
    font-weight: 500;
    word-spacing: 15px;
    letter-spacing: 2px;
}

.store {
    max-height: 500px;
    overflow-x: scroll;
    padding: 0;
    border: 2px solid #5DBA9D;
    background-color:#FFFFFF;
    box-sizing: border-box;
}

.store-reverse {
    border: 2px solid #e45;
}

.storeTitle {
    margin: 6px 0 0 20px;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.header-reverse {
    background-color:#e45;
}

header {
    text-align: left;
    padding: 10px;
    margin-bottom:10px;
    background-color:#5DBA9D;
}

header > * {
    display: inline-block;
}

header a {
    position: absolute;
    right: 0;
    width:40px;
    height:40px;
    margin: 6px 20px 0 0 ;
    color:#FFFFFF;
    font-size:20px;
    line-height:40px;
}

header a.storeButton{
    background-color:#11956c;
}

.header-reverse a.storeButton {
    background-color: #cd1830;
}

#tomatoStore:after{
    content:"";
    clear:both;
    display:table;
}

.store .box{
    float: left;
    width: 100px;
    height: 100px;
    margin: 2%;
    padding: 0;
    border-radius: 5%;
    background-color:#CCCCCC;
}

.box > img {
    transition: transform 0.5s;
    width: 100px;
    height: 100px;
}

.box > img:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}
/* tomato box */
.tomatoBox {
    position: relative;
    float: left;
    width: 100%;
    margin-top: calc(-2% + 1px);
}

.tomatoBox > ul > li  {
    z-index: 2;
    list-style: none;
    position: relative;
    float: left;
    width: 108%;
    height: 75px;
    margin-left: -8%;
    border-bottom: 1px solid #ccc;
    background-color: #F1F1EF;
    box-sizing: border-box;
}

.tomatoBoxDate {
    position: relative;
    float: left;
    height: 20px;
    top:50%;
    margin-top: -10px;
}

.tomatoBoxDate > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.tomatoBoxComment {
    position: relative;
    float: left;
    margin-top: 20px;
}

.tomatoBoxComment  > h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.tomatoBoxComment  > p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #999;
}

.tomato {
    position: relative;
    float: left;
    height: 14px;
    top:50%;
    margin-top: -10px;
    padding: 0 10px 0 0 ;
}

.tomato > .tomatoCase {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.tomato > .tomatoCase > p {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
}

.tomatoCase > img {
    width: 20px;
    height: 20px;
}

.tomatoList > .tomatoBoxDate {
    border-left: 4px solid #e45;
    color: #e45;
}
/* Pomodoro guide */
.explanationSection {
    height: 150px;
    color: #333;
    margin-bottom: 50px;
}

.explanationSection:last-child {
    margin-bottom: 100px;
}

.explanationSection > * > i {
    color: #df3c32;
    font-size: 150px;
}

.explanationTitle {
    margin: 20px 0 30px 0;
    font-size: 27px;
    font-weight: 200;
    word-spacing: 10px;
}

.explanationTitle + p {
    font-size: 17px;
    color: #555;
}
/* Contact */
.contactBox {
    display: flex;
    text-align: center;
    justify-content : space-between;
}

.contact {
    width: 100px;
    height: 100px;
    border: 3px double white;
    border-radius: 50%;
    opacity: 0.6;
    transition: transform 0.3s;
}

.contact:hover {
    transform: scale(1.2);
    opacity: 0.9;
    transition: transform 0.3s;
}

.contact > .fa {
    margin-top: 20px;
    font-size: 50px;
    color: white;
}

/* testing */
.hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
